.contact{
  background-color: #1E202B;
}
.links a{
  text-decoration: none;
  font-size: .8125rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: rgb(191, 193, 200);
}
.links a:hover{
  text-decoration: underline;
}
.links i{
  font-size: .8125rem;
  color: rgb(191, 193, 200);
}
.links span{
  font-size: .8125rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: white;
}
.links{
  background-color: rgb(38, 41, 54);
}
.col-md-4 .bgCol4{
  background-color: rgb(38, 41, 54);
}
.col-md-4 i{
  color: rgb(0, 154, 216);
  font-size: .875rem;
}
.col-md-4 a{
  text-decoration: none;
}
.col-md-4 p,a{
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.3125rem;
  color: rgb(191, 193, 200);
}
.col-md-6 input ,.col-md-6 textarea{
  border: solid 2px #393c48;
  transition-duration: 0.5s;
}
.col-md-6 input:hover
{
  border-color: rgb(0, 154, 216);
}
.col-md-6 textarea:hover
{
  border-color: rgb(0, 154, 216);
}
.col-md-6 input:focus{
  outline: none;
  border: solid 2px rgb(0, 154, 216);

}
.col-md-6 textarea:focus{
  outline: none;
  border: solid 2px rgb(0, 154, 216);

}
.col-md-6 h4{
  font-size: 1.625rem;
  font-weight: 600;
  color: white;
}
.col-md-6 p{
  font-size: .875rem;
  line-height: 1.3125rem;
  font-weight: 300;
  color: rgb(191, 193, 200);
}
form button{
  font-size: .875rem;
  font-weight: 600;
}
